In [10]:
import pandas as pd

def correct_revenue(cell):
    #changes revenue value to 0 if the value is < 0
    if cell < 0:
        return None
    return cell

def correct_ppl(cell):
    if cell == "n.a.":
        return "Sam Walton"
    return cell

def correct_eps(cell):
    if cell == "not available":
        return None
    return cell

def correct_price(cell):
    if cell == "n.a.":
        return None
    return cell

#converter used to convert the messy data to something useful
df = pd.read_excel("stock_data.xlsx", converters = 
                  {
                      "revenue" : correct_revenue,
                      "eps" : correct_eps,
                      "price" : correct_price,
                      "people" : correct_ppl
                  })
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0     Sam Walton
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [15]:
#writing to excel file
#startrow -> offset for row
#startcol -> offset for column in excel
df.to_excel("new.xlsx", sheet_name="Stock", startrow=2, startcol=3, index=False)

In [17]:
#stroring two different dataframe in two different sheets
import numpy as np
weather_data = pd.DataFrame({
    "day": ["25/12/2023", "14/07/2023", "21/04/2023", "20/01/2023"],
    "event": ["Sunny", "Rain", "Snow", "Rain"],
    "windspeed": [2, 6, 7, 8]
})

stock_data = pd.DataFrame({
    "tickers" : ["GOOGL", "WMT", "MSFT", "TATA"],
    "eps" : [27.82, 4.61, -1, 5.6],
    "revenue": [87, 484, 85, np.nan]
})

In [20]:
with pd.ExcelWriter("stock_weather_data.xlsx") as wr_ob:
    weather_data.to_excel(wr_ob, sheet_name="weather")
    stock_data.to_excel(wr_ob, sheet_name="stock")