In [2]:
import pandas as pd
#dataframe by reading csv file
#dataframe can be created using list, dictionaries as well
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
#returns row and column count in the form of tuple
df.shape

(6, 4)

In [5]:
#returns the top two row in the dataset
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [6]:
#returns the last entry in dataset
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [7]:
#slicing dataframe
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [9]:
#returns the column names
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
#accessing column value in two ways
df.day  #df['day'] both are same

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
#returns the type of a column
#NOTE: pan
type(df['event'])

pandas.core.series.Series

In [14]:
#accessing more than one column
df[['day', 'temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [18]:
print("Maximum temp:", df.temperature.max())
print("Minimum temp:", df.temperature.min())
print("Average temp:", df.temperature.mean())

Maximum temp: 35
Minimum temp: 24
Average temp: 30.333333333333332

In [20]:
#returns statistic values of interger column
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [26]:
#returns day and temperature when it was snowing
df[['day', 'temperature']][df.event=="Snow"]

        day  temperature
2  1/3/2017           28
3  1/4/2017           24

In [31]:
#sets day as index
#can only set the column in df as index
df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [32]:
#accessing 1/4/2017 row information
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [43]:
#resets the index to 0 based
df.reset_index(inplace=True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2

In [46]:
#returns the row where the event is snow
df[df.event == 'Snow']

  event       day  temperature  windspeed
2  Snow  1/3/2017           28          2
3  Snow  1/4/2017           24          7

In [37]:
#setting event as index
df.set_index('event', inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [38]:
#return the Snow rows, label based
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [47]:
df.loc[df.windspeed>5]

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
3   Snow  1/4/2017           24          7